* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerMS {
    width: 95%;
    margin: auto;
}


html,
body {
    font-family: 'Nunito', sans-serif;
}



.ani__header {
    transition: all 0.8s;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.header__fixed {
    position: fixed;
    top: 0;
    left: 0;
}

header .navbarms {
    display: flex;
    padding: 20px 30px;
    align-items: center;
}

.navbarms a {
    text-decoration: none;
}

.navbar__logo {
    width: 40%;
    font-size: 30px;
    color: #dc4f72;
}

.navbar__logo:hover {
    color: #dc4f72;
}

.navbar__text {
    width: 60%;
}

.nav__text {
    display: flex;
}

.navbar__text ul li {
    padding: 0 10px;
    text-decoration: none;
    list-style: none;
}

.nav-item i {
    font-size: 15px;
}

.navbar__text {
    display: flex;
    align-items: center;
}

.navbar__text a {
    color: black;
    font-size: 20px;
}

.button__top button {
    padding: 10px;
}

.header__search {
    padding-right: 30px;
}

.header__search a i {
    color: gray;
    border: 1px solid #f9fbfd;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background-color: #f9fbfd
}

.header__search :hover {
    color: black;
}

.navbar__text a:hover {
    color: #dc4f72;
}

.button__top a {
    color: #dc4f72;
}

.button__top a:hover {
    color: white;
    background-color: #dc4f72;
    transition: all 0.5s;
}

.active a {
    color: #dc4f72;
}

.theme-button {
    font-size: 15px;
    padding: 15px;
}

.ldtheme {
    border: none;
}

.ldtheme i {
    font-size: 20px;
    padding: 0 20px;
}

/* light theme  */
#myBody {
    background-color: white;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* dark theme  */
.dark#myBody {
    background-color: black;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .change {
    background-color: black;
    color: white;
}

.nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    display: block;
    background-color: #dc4f72;
    transition: all 0.5s;
}

.nav-link:hover::after {
    width: 40%;
}

/* CAROUSEL  */
.card {
    border: none;
}